<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 emi-content">
    <div class="row">
       
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pie-content" id="pieContent">
            <div>
                <p>Loan Amount</p>
                <h5 id="loan_principal">{{principalAmt}}</h5>
            </div>
        </div>
    </div>
    <div>                
        <h6 class="emi-footer">Your EMI will be</h6>
        <h1 id="loan_emi">{{emiAmt}}</h1>
        <button class="btn getMoneyButton" style="margin-left: 11%">Get Money</button>
    </div>
</div>

<svg style="height: 0; display: block; width: 0;">
    <defs>
        <linearGradient id="principal_svg" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0"></stop>
            <stop offset="1"></stop>
        </linearGradient>
        <linearGradient id="interest_svg" x1="0" x2="0" y1="0" y2="1">
            <stop offset="0"></stop>
            <stop offset="1"></stop>
        </linearGradient>
    </defs>
</svg>